<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytd.crm.roadinfo.mapper.DRoadInfoMapper">
    <!-- 添加路况信息 -->
    <insert id="insertRoadInfo" parameterType="java.util.List">
        INSERT INTO d_roadinfo
        (Author_ID,Block,Created_Time,Direction,Effect,EndStake,Fangwei,Highway_ID,ID,Info_ID,Location,Notice,Occur_Time,Position,Publish_Time,Reason,Show_Info,Source,Stake,Status,StickTime,T_id,Type_ID)
        <foreach collection="list" item="item" open="values" separator=",">
            (
            #{item.Author_ID},
            #{item.Block},
            <choose>
                <when test="item.Created_Time==null || item.Created_Time.toString()==''">
                    '0000-00-00 00:00:00',
                </when>
                <otherwise>
                    #{item.Created_Time},
                </otherwise>
            </choose>
            #{item.Direction},
            #{item.Effect},
            #{item.EndStake},
            #{item.Fangwei},
            #{item.Highway_ID},
            #{item.ID},
            #{item.Info_ID},
            #{item.Location},
            #{item.Notice},
            <choose>
                <when test="item.Occur_Time==null || item.Occur_Time.toString()==''">
                    '0000-00-00 00:00:00',
                </when>
                <otherwise>
                    #{item.Occur_Time},
                </otherwise>
            </choose>
            #{item.Position},
            <choose>
                <when test="item.Publish_Time==null || item.Publish_Time.toString()==''">
                    '0000-00-00 00:00:00',
                </when>
                <otherwise>
                    #{item.Publish_Time},
                </otherwise>
            </choose>
            #{item.Reason},
            #{item.Show_Info},
            #{item.Source},
            #{item.Stake},
            #{item.Status},
            <choose>
                <when test="item.StickTime==null || item.StickTime.toString()==''">
                    '0000-00-00 00:00:00',
                </when>
                <otherwise>
                    #{item.StickTime},
                </otherwise>
            </choose>
            #{item.T_id},
            #{item.Type_ID}
            )
        </foreach>
    </insert>
    <!-- 查询将要下架的数据 -->
    <select id="queryInvalidRoadInfo" parameterType="java.util.List" resultType="com.bytd.crm.roadinfo.entities.DRoadInfo">
        SELECT * FROM d_roadinfo WHERE status = 0
        <if test="list != null and list.size()>0">
            AND id NOT IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.ID}
            </foreach>
        </if>
    </select>

    <select id="queryValidRoadInfoById" parameterType="java.lang.Integer" resultType="com.bytd.crm.roadinfo.entities.DRoadInfo">
        SELECT * FROM d_roadinfo WHERE id = #{ID} and status=0
    </select>

    <!-- 下架数据的状态更新为1 -->
    <update id="updateRoadInfoStatus" parameterType="java.util.List">
        UPDATE d_roadinfo SET status=1 WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item.ID}
        </foreach>
    </update>

</mapper>